In [13]:
str= 'Good Day'
str

'Good Day'

In [15]:
len(str) # 1.len() function to return the length of a string

8

In [36]:
## 2.capitilize() function returns the string in capitilized of the first word and second word starts with lowercase.
str1 = 'hello world'
str1.capitalize()

'Hello world'

In [6]:
##3.count(elem) - retruns the number of occurances of the elemnet in the string.
str1.count('o')

2

In [10]:
##4.endswith(elem) -- checks if the function ends with specific character.
str1.endswith('ld')

True

In [14]:
##5.expandtabs() - Replaces tab character with the spaces default tab size is .
str1.expandtabs()

'hello world'

In [38]:
str2 = 'Thirty\tdays\tof\tpython\tchallenge'
str2.expandtabs(10)

'Thirty    days      of        python    challenge'

In [52]:
##6 find(elem) retruns the index of the elem in the str
str1.find('o')
str1.find('or')

7

In [42]:
##7 format() - formats the strings into nicer output. 
first_name = 'Radhika'
last_name='Bottu'
city = 'Hyderabad'
full_name = 'My name is {} {} and stays in city {}'.format(first_name,last_name,city)
print(full_name)

My name is Radhika Bottu and stays in city Hyderabad

In [74]:
##8. index(substr) - Returns the index of the substring
str1.index('or')

7

In [60]:
##9 isalnum() ---check if the string haso nly alpha-numberic characters
print(str1.isalnum())
print('Helo9'.isalnum())
print('abc3456^$'.isalnum())

False
True
False

In [76]:
##10  isalpha() - checks of the string is only alphabets.
str ='Heloo'
print(str1.isalpha())
print(str.isalpha())

False
True

In [82]:
##11. isdecimal() - checks if the str is decimal characters.
print(str1.isdecimal())
print('23'.isdecimal())
print('23.5'.isdecimal())

False
True
False

In [84]:
#12 -- isdigit() - check if the str is digits only
print(str1.isdigit())
print('23'.isdigit())
print('23.5'.isdigit())

False
True
False

In [100]:
#13 isidentifier() -- checks for valid identifier means it checks if a string is a valid variable name.
print(str.isidentifier())
print(str1.isidentifier())
print("_fg".isidentifier())
print("456fg".isidentifier())
print("456".isidentifier())

True
False
True
False
False

In [104]:
#14. islower() -- checks if all the alphabets are lowercase.
var = 'hello'
print(var.islower())
print('Hello'.islower())

True
False

In [108]:
#15 . isupper() -- checks if the string is upper
print('Hello'.isupper())
print('HELLO'.isupper())

False
True

In [112]:
#16. isnumeric() -- checks if the number character . 
print('123'.isnumeric())
print('Helo'.isnumeric())

True
False

In [124]:
#17) join() - returns tha concatenated strings. 
l = ['Hello','Python','World']
print('#'.join(l))
print('**'.join(l))

Hello#Python#World
Hello**Python**World

In [138]:
#18) strip() - removes both leading and trailing characters. 
s = '   python     '
print(s.strip())
print('Hello',s.strip(),'world')

python
Hello python world

In [140]:
#19) replace(str1,str2) -- replace str1 with str2 
str = 'Python learning is easy'
str.replace('Python','coding')

'coding learning is easy'

In [156]:
#20) split() - splits starting from left
str = "Hello World"
str.split(' ')

['Hello', 'World']

In [158]:
#21) title() -- Retruns title cased string.
str = 'hello python'
str.title()

'Hello Python'

In [160]:
#22) swapcase() -- swaps the case of str. 
str = 'Hello world'
str.swapcase()

'hELLO WORLD'

In [162]:
#23) startswith(elem) -- checks if the string starts with the elem. 
str = 'Hello World'
str.startswith('He')

True