In [1]:
##tuple data structure is stores data in () brackets. allows duplicate elements.
## tuple is immutable
t = (2,3,4)
t

(2, 3, 4)

In [3]:
t * 3

(2, 3, 4, 2, 3, 4, 2, 3, 4)

In [5]:
t.count(3)

1

In [17]:
t2 = (3,4,5,6,3,4,5) # tuple allows duplicate elements.
t2.count(3)

2

In [19]:
t2.index(3)

0

In [21]:
t2[:]

(3, 4, 5, 6, 3, 4, 5)

In [23]:
t2[4]=5 ##tuple is immutable

TypeError: 'tuple' object does not support item assignment

In [25]:
t3 = (4 ,5.6 , [5,6], 'radhika')
t3[2]

[5, 6]

In [27]:
t3[3]

'radhika'

In [29]:
t3[3][2]

'd'

In [31]:
t3[3][2] = 'd'

TypeError: 'str' object does not support item assignment

In [33]:
t3[::]

(4, 5.6, [5, 6], 'radhika')

In [35]:
t3[::-1]

('radhika', [5, 6], 5.6, 4)

In [37]:
t3[4]

IndexError: tuple index out of range

In [39]:
t3[:50]

(4, 5.6, [5, 6], 'radhika')

In [41]:
t4=( 3,4,5,(7,6,8)) # nested tuple- tuple inside a tuple
t4

(3, 4, 5, (7, 6, 8))

In [43]:
t4[3][2]

8

In [45]:
t3 = ('A','B','C','D','E')
t3[:-3]

('A', 'B')

In [47]:
t3[-4:]

('B', 'C', 'D', 'E')

In [49]:
t3[-2:]

('D', 'E')

In [51]:
del t3

In [53]:
del t4[2]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
#loop through a tuple
for i in t4 :
 print(i)

3
4
5
(7, 6, 8)

In [60]:
#loop through a tuple
for i in enumerate(t4) :
 print(i)

(0, 3)
(1, 4)
(2, 5)
(3, (7, 6, 8))

In [62]:
3 in t4

True

In [64]:
'R' in t4

False

In [66]:
t5 = ('one','two','three','four')
t5

('one', 'two', 'three', 'four')

In [72]:
'one' in t5

True

In [74]:
'three' in t5

True

In [76]:
'five' in t5

False

In [84]:
if 'one' in t5:
   print('one is in tuple5')
else:
   print('two is not in tuple5')

one is in tuple5

In [88]:
sorted(t5)

['four', 'one', 'three', 'two']

In [90]:
t6 = (2,3,6,1,22,11,10)
t6

(2, 3, 6, 1, 22, 11, 10)

In [92]:
sorted(t6)

[1, 2, 3, 6, 10, 11, 22]

In [96]:
sorted(t6,reverse=True)

[22, 11, 10, 6, 3, 2, 1]

In [100]:
t6 = (3,4,'three','one',67)
sorted(t6)

TypeError: '<' not supported between instances of 'str' and 'int'

In [102]:
t6 = (30,4,5,6,67)
sorted(t6)

[4, 5, 6, 30, 67]

In [104]:
t6 = (30,4,5,6,67)
sorted(t6,reverse=True)

[67, 30, 6, 5, 4]