In [1]:
s = {}
type(s)

dict

In [3]:
s = set()
type(s)

set

In [5]:
s = {1,2,3}
type(s)

set

In [7]:
len(s)

3

In [9]:
s={1,2,3,0,9,4}
s

{0, 1, 2, 3, 4, 9}

In [11]:
s = {3,3,3,3,4,4,4,6}

In [13]:
s

{3, 4, 6}

In [3]:
s = {1,'radhika',4.4,True,3+5J}
s

{(3+5j), 1, 4.4, 'radhika'}

In [5]:
s = {10,20,'helo',[3,4,5]}  #cannot use hash inside the set 
s

TypeError: unhashable type: 'list'

In [7]:
myset = set()
print(type(myset))

<class 'set'>

In [10]:
my_set=set(('one','two','three','four'))
my_set

{'four', 'one', 'three', 'two'}

In [13]:
my_set={'one','two','three','four','five','six','seven','eight','nine'}
my_set

{'eight', 'five', 'four', 'nine', 'one', 'seven', 'six', 'three', 'two'}

In [23]:
for i in my_set:
 print(i)

eight
three
five
nine
six
four
two
seven
one

In [27]:
for i in enumerate(my_set):
 print(i)

(0, 'eight')
(1, 'three')
(2, 'five')
(3, 'nine')
(4, 'six')
(5, 'four')
(6, 'two')
(7, 'seven')
(8, 'one')

In [29]:
'five' in myset

False

In [31]:
'ten' in myset

False

In [37]:
if 'three' in my_set:
 print('three in the set')
else:
 print('three is not in set')

three in the set

In [41]:
if 'eleven' in my_set:
 print('eleven in the set')
else: 
 print('eleven is not the set')

eleven is not the set

In [43]:
my_set[3] = 'three'

TypeError: 'set' object does not support item assignment

In [45]:
my_set.add('eleven')

In [47]:
my_set

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'two'}

In [49]:
my_set.add('twenty')

In [51]:
my_set

{'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty',
 'two'}

In [53]:
my_set.update('XYZ')

In [55]:
my_set

{'X',
 'Y',
 'Z',
 'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty',
 'two'}

In [57]:
my_set.update('XYZ','ABC','NH')
my_set

{'A',
 'B',
 'C',
 'H',
 'N',
 'X',
 'Y',
 'Z',
 'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty',
 'two'}

In [59]:
my_set.update(['XYZ','ABC','NH'])
my_set

{'A',
 'ABC',
 'B',
 'C',
 'H',
 'N',
 'NH',
 'X',
 'XYZ',
 'Y',
 'Z',
 'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty',
 'two'}

In [63]:
my_set.remove('TEN')
my_set

KeyError: 'TEN'

In [65]:
my_set.remove('two')
my_set

{'A',
 'ABC',
 'B',
 'C',
 'H',
 'N',
 'NH',
 'X',
 'XYZ',
 'Y',
 'Z',
 'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty'}

In [67]:
my_set.discard('A')

In [69]:
my_set

{'ABC',
 'B',
 'C',
 'H',
 'N',
 'NH',
 'X',
 'XYZ',
 'Y',
 'Z',
 'eight',
 'eleven',
 'five',
 'four',
 'nine',
 'one',
 'seven',
 'six',
 'three',
 'twenty'}

In [71]:
my_set.remove('AAA')

KeyError: 'AAA'

In [77]:
myset.discard('TEN') # remove item from a set using discard() method
myset

set()

In [79]:
myset.clear()

In [81]:
myset

set()

In [83]:
del myset

In [85]:
myset

NameError: name 'myset' is not defined

In [87]:
myset = {1,2,3,4,5,6,7}
myset

{1, 2, 3, 4, 5, 6, 7}

In [89]:
myset1 = myset
myset1

{1, 2, 3, 4, 5, 6, 7}

In [91]:
myset2 = myset1.copy()
myset2

{1, 2, 3, 4, 5, 6, 7}

In [93]:
id(myset)

2040980105120

In [95]:
id(myset1)

2040980105120

In [97]:
id(myset2)

2040980106912

In [99]:
myset2.add('three number')

In [101]:
myset2

{1, 2, 3, 4, 5, 6, 7, 'three number'}

In [103]:
# union operations
A = {1,2,3,4,5,6}
B = {4,5,6,7,8,9}
C = A | B

In [105]:
C

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [111]:
CU = A.union(B)

In [113]:
CU

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [115]:
D = A & B
D

{4, 5, 6}

In [125]:
A.intersection(B)
A

{1, 2, 3, 4, 5, 6}

In [127]:
v= A.intersection(B)
v

{4, 5, 6}

In [129]:
A.update(B,C)

In [137]:
A

{4, 5, 6, 7, 8, 9}

In [135]:
A.intersection_update(B)
A

{4, 5, 6, 7, 8, 9}

In [143]:
A = {1,2,3,4,5,6,7}
B = {4,5,6,7,8,9,0}
A.update(B)

In [145]:
A

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [147]:
A - B

{1, 2, 3}

In [149]:
A = {1,2,3,4,5,6,7}
B = {4,5,6,7,8,9,0}
A.update(B)

In [153]:
A

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [157]:
A.difference_update(B)

In [159]:
A

{1, 2, 3}

In [171]:
A = {1,2,3,4,5,6,7}
B = {4,5,6,7,8,9,0}
A.symmetric_difference(B)

{0, 1, 2, 3, 8, 9}

In [173]:
A

{1, 2, 3, 4, 5, 6, 7}

In [175]:
A = {1,2,3,4,5,6,7}
B = {4,5,6,7,8,9,0}
A.symmetric_difference_update(B)

In [177]:
A

{0, 1, 2, 3, 8, 9}

In [183]:
A = {1,2,3,4,5,6,7,8,9}
B = {3,4,5,6,7,8}
C = {10,20,30,40}

In [185]:
B.issubset(A)

True

In [187]:
A.issubset(B)

False

In [193]:
A.issuperset(B)

True

In [195]:
C.isdisjoint(A)

True

In [197]:
B.isdisjoint(A)

False

In [199]:
A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [201]:
sum(A)

45

In [203]:
max(A)

9

In [205]:
min(A)

1

In [207]:
len(A)

9

In [209]:
list(enumerate(A))

[(0, 1), (1, 2), (2, 3), (3, 4), (4, 5), (5, 6), (6, 7), (7, 8), (8, 9)]

In [211]:
D = sorted(A)

In [213]:
D= sorted(A,reverse=True)

In [215]:
D

[9, 8, 7, 6, 5, 4, 3, 2, 1]