In [2]:
mydict = {} 
type(mydict)

dict

In [6]:
mydict = {1 : 'one', 2: 'two', 3: 'three' , 4: 'four'}
mydict

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [8]:
mydict1 =dict({1 : 'one', 2: 'two', 3: 'three' , 4: 'four'})
mydict1

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [12]:
mydict2 = {'A': 'one', 'B': 'two' , 'C' : 'three' , 'D':'three'}
mydict2

{'A': 'one', 'B': 'two', 'C': 'three', 'D': 'three'}

In [14]:
mydict3 = {1: 'one', 'B': 'two' , 3 : 'three' , 'D':'three'}
mydict3

{1: 'one', 'B': 'two', 3: 'three', 'D': 'three'}

In [16]:
mydict3.keys()

dict_keys([1, 'B', 3, 'D'])

In [18]:
mydict3.values()

dict_values(['one', 'two', 'three', 'three'])

In [20]:
mydict3.items()

dict_items([(1, 'one'), ('B', 'two'), (3, 'three'), ('D', 'three')])

In [22]:
mydic4 = {1:'one' , 'B': 'two' , 'C' : 'three' , 'D' : [1,2,3]}
mydic4

{1: 'one', 'B': 'two', 'C': 'three', 'D': [1, 2, 3]}

In [24]:
mydic4 = {2:'two' , 'A': ['Apple','Aparicot','ant'] , 'C' : ['Cat','Cow'] , 'D' : [1,2,3]}
mydic4

{2: 'two',
 'A': ['Apple', 'Aparicot', 'ant'],
 'C': ['Cat', 'Cow'],
 'D': [1, 2, 3]}

In [3]:
keys = {'A','B','C','D'}
mydict10 = dict.fromkeys(keys)
mydict10

{'C': None, 'D': None, 'B': None, 'A': None}

In [34]:
keyss = {'A', 2 ,'B','D','E'}
valuess =10
mydict10=dict.fromkeys(keyss,valuess)
mydict10

{2: 10, 'D': 10, 'B': 10, 'E': 10, 'A': 10}

In [36]:
keyss = {'A', 2 ,'B','D','E'}
valuess =[10,20]
mydict10=dict.fromkeys(keyss,valuess)
mydict10

{2: [10, 20], 'D': [10, 20], 'B': [10, 20], 'E': [10, 20], 'A': [10, 20]}

In [40]:
keyss = {'A', 2 ,'B','D','E','F','F','A', 2 ,'B','D','E','F','F'}
valuess =[10,20]
mydict10=dict.fromkeys(keyss,valuess)
mydict10

{2: [10, 20],
 'D': [10, 20],
 'B': [10, 20],
 'F': [10, 20],
 'E': [10, 20],
 'A': [10, 20]}

In [42]:
valuess.append(20)
mydict10

{2: [10, 20, 20],
 'D': [10, 20, 20],
 'B': [10, 20, 20],
 'F': [10, 20, 20],
 'E': [10, 20, 20],
 'A': [10, 20, 20]}

In [44]:
valuess = [10,20,30,40,50,60]
valuess.append(70)

In [48]:
mydict10=dict.fromkeys(keyss,valuess)
mydict10

{2: [10, 20, 30, 40, 50, 60, 70],
 'D': [10, 20, 30, 40, 50, 60, 70],
 'B': [10, 20, 30, 40, 50, 60, 70],
 'F': [10, 20, 30, 40, 50, 60, 70],
 'E': [10, 20, 30, 40, 50, 60, 70],
 'A': [10, 20, 30, 40, 50, 60, 70]}

In [50]:
valuess.append(80)

In [52]:
mydict10

{2: [10, 20, 30, 40, 50, 60, 70, 80],
 'D': [10, 20, 30, 40, 50, 60, 70, 80],
 'B': [10, 20, 30, 40, 50, 60, 70, 80],
 'F': [10, 20, 30, 40, 50, 60, 70, 80],
 'E': [10, 20, 30, 40, 50, 60, 70, 80],
 'A': [10, 20, 30, 40, 50, 60, 70, 80]}

In [56]:
mydict10 = {1:'one', 2 : 'two' , 3: 'three' ,4 : 'four'}
mydict10

{1: 'one', 2: 'two', 3: 'three', 4: 'four'}

In [58]:
mydict10[1]

'one'

In [60]:
mydict10[4]

'four'

In [62]:
mydict10[5]

KeyError: 5

In [64]:
mydict10.get(1)

'one'

In [66]:
mydict10.get(4)

'four'

In [74]:
mydict10 = {'name' : 'Radhika' , 'Job' : 'Applications engineer' , 'location' : 'hyderabad' , 'city': 'Hyderabad','Age':10}
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 10}

In [76]:
mydict10.get('Job')

'Applications engineer'

In [80]:
mydict10['Age']

10

In [82]:
mydict10['Age'] = 15
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 15}

In [84]:
dict1= {'city' : 'Tirupati'}
mydict10.update(dict1)
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Tirupati',
 'Age': 15}

In [86]:
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Tirupati',
 'Age': 15}

In [90]:
mydict10 = {'name' : 'Radhika' , 'Job' : 'Applications engineer' , 'location' : 'hyderabad' , 'city': 'Hyderabad','Age':10}
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 10}

In [92]:
mydict10['Age'] = 40
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 40}

In [96]:
dict = {'Age': 50}
mydict10.update(dict)
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50}

In [100]:
mydict10['phone'] = ['mobile']
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile']}

In [104]:
dict = {'height' : 3}
mydict10.update(dict)
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 3}

In [106]:
mydict10['height'] = 40
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [110]:
dict = {'A' : 'B'}
mydict10.update(dict)
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40,
 'A': 'B'}

In [112]:
del mydict10['A']

In [114]:
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [116]:
mydict11 = mydict10.copy()

In [118]:
mydict11

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [120]:
del(mydict10['height'])

In [122]:
mydict10

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile']}

In [124]:
mydict10.clear()

In [126]:
mydict10

{}

In [128]:
del mydict10['city']

KeyError: 'city'

In [130]:
mydict11

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [132]:
for i in mydict11 : 
    print(mydict11[i])

Radhika
Applications engineer
hyderabad
Hyderabad
50
['mobile']
40

In [134]:
for i in mydict11 : 
    print(i , ':' ,mydict11[i])

name : Radhika
Job : Applications engineer
location : hyderabad
city : Hyderabad
Age : 50
phone : ['mobile']
height : 40

In [136]:
'Name' in mydict11

False

In [138]:
'Job' in mydict11

True

In [140]:
'DOB' in mydict11

False

In [142]:
mydict11

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [182]:
all(mydict11)

True

In [184]:
mydict11

{'name': 'Radhika',
 'Job': 'Applications engineer',
 'location': 'hyderabad',
 'city': 'Hyderabad',
 'Age': 50,
 'phone': ['mobile'],
 'height': 40}

In [186]:
any(mydict11)

True

In [199]:
range(3)

range(0, 3)

In [203]:
range(5)

range(0, 5)

In [207]:
range(0,5)

range(0, 5)