In [1]:
name = 'Radhika'
for i in name:
    print(i)

R
a
d
h
i
k
a

In [2]:
list= [1,3,2,'hello']
for i in list:
    print(i)

1
3
2
hello

In [6]:
for i in [2,3,4,1,'nit']:
    print(i)

2
3
4
1
nit

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(1,51):
    if i%5 ==0 :
     print(i)

5
10
15
20
25
30
35
40
45
50

In [7]:
x = int(input('How many chocolates do you want?'))

i =1 
while i<=x : 
    print('Chocolate')
    i += 1

How many chocolates do you want? 5

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate

In [11]:
available_chocolate = 5 
x = int(input('How many chocolates do you want ??'))
i=1 
while i<=x :
    if i>available_chocolate :
        break
    print('Chocolate')
    i=i+1
print('Bye for now.')

How many chocolates do you want ?? 7

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Bye for now.

In [17]:
available_chos=5
num= int(input('Enter number of chocolates?'))
i=1
while i<=num :
    if i>available_chos :
        print('Out of stock')
        break
    print('Chocolate')
    i=i+1
print('bye for now.')

Enter number of chocolates? 7

Chocolate
Chocolate
Chocolate
Chocolate
Chocolate
Out of stock
bye for now.

In [19]:
for i in range(1,11):
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10

In [21]:
for i in range(1,11):
    if i == 6 : 
        continue
    print('hello:this is radhika',i)

hello:this is radhika 1
hello:this is radhika 2
hello:this is radhika 3
hello:this is radhika 4
hello:this is radhika 5
hello:this is radhika 7
hello:this is radhika 8
hello:this is radhika 9
hello:this is radhika 10

In [23]:
for i in [2,3] :

SyntaxError: incomplete input (388870565.py, line 1)

In [25]:
for i in range(1,51):
    if i%5==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [27]:
for i in range(1,51):
    if i%5 !=0:
        continue
    print(i)

5
10
15
20
25
30
35
40
45
50

In [31]:
for i in range(1,51) :
    if(i%3 !=0 or i%5 !=0):
        continue
    print(i)

15
30
45

In [36]:
for i in range(1,50):
    if(i%3 == 0 and i%5==0):
      continue
    print(i)
print('end')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
16
17
18
19
20
21
22
23
24
25
26
27
28
29
31
32
33
34
35
36
37
38
39
40
41
42
43
44
46
47
48
49
end

In [38]:
for i in range(1,50):
    if(i%3 != 0 and i%5 !=0):
      continue
    print(i)
print('end')

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
end

In [40]:
for i in range(1,51):
    if(i%2==0):
        print(i,'Even')
    else:
        print(i,'Odd')

1 Odd
2 Even
3 Odd
4 Even
5 Odd
6 Even
7 Odd
8 Even
9 Odd
10 Even
11 Odd
12 Even
13 Odd
14 Even
15 Odd
16 Even
17 Odd
18 Even
19 Odd
20 Even
21 Odd
22 Even
23 Odd
24 Even
25 Odd
26 Even
27 Odd
28 Even
29 Odd
30 Even
31 Odd
32 Even
33 Odd
34 Even
35 Odd
36 Even
37 Odd
38 Even
39 Odd
40 Even
41 Odd
42 Even
43 Odd
44 Even
45 Odd
46 Even
47 Odd
48 Even
49 Odd
50 Even

In [42]:
for i in range(1,51):
    if(i%2==0) :
      continue
    else:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

#### Patterns

In [44]:
for i in range(1,5):
    i=i+1
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [46]:
for i in range(1,5):
    print('# # # #')

# # # #
# # # #
# # # #
# # # #

In [48]:
for j in range(4):
    print("#",end=" ")

# # # #

In [58]:
for j in range(4):
    print("#",end=" ")
for j in range(4):
   print("#",end=" ")

# # # # # # # #

In [62]:
for j in range(5):
    print("#",end=" ")
print()
for j in range(5):
    print("#")

# # # # #
#
#
#
#
#

In [66]:
for j in range(4):
    print("#",end=" ")
print()
for j in range(4):
    print("#",end=" ")
print()
for j in range(4):
    print("#",end=" ")
print()
for j in range(4):
       print("#",end=" ")

# # # #
# # # #
# # # #
# # # #

In [68]:
for i in range(4):
    for j in range(4):
        print("#",end=" ")
    print()

# # # #
# # # #
# # # #
# # # #

In [76]:
for i in range(4):
   for j in range(4) :
      print("#" , end=" ")

# # # # # # # # # # # # # # # #

In [82]:
for i in range(4):
    for j in range(0,i+1):
      print("#",end=" ")
    print()

#
# #
# # #
# # # #

In [86]:
for i in range(5):
    print("# "*i)

#
# #
# # #
# # # #

In [102]:
for i in range(1,5):
    for j in range(4):
        if i>j : 
            print("#",end=" ")
    print()

#
# #
# # #
# # # #

TypeError: 'list' object is not callable

In [114]:
range(4)

range(0, 4)

In [116]:
for i in range(4):
    for j in range(i):
        print("#",end=" ")
    print()

#
# #
# # #

In [118]:
for i in range(4):
    for j in range(4-i):
       print("#",end=" ")
    print()

# # # #
# # #
# #
#

In [122]:
for i in range(5):
    print("# "*(5-i))

# # # # #
# # # #
# # #
# #
#

In [124]:
nums = [1,12,14,15,16,20,25]

for num in nums:
    if num %5 == 0 : 
        print(num)

15
20
25

In [128]:
nums = [12,12,24,20,25]
nums

[12, 12, 24, 20, 25]

In [130]:
nums = [12,15,12,20,25,30]
for num in nums:
    if(num % 5 == 0):
        print(num)
        break

15

In [132]:
nums = [12,15,12,20,25,30]
for num in nums:
    if(num % 5 == 0):
        print(num)
        break
else:
    print("Found first multiple of 5")

15

In [136]:
nums = [12,16,12,21,22,33]
for num in nums:
    if(num % 5 == 0):
        print(num)
        break
else:
    print("Not found any multiple of 5")

Not found any multiple of 5

In [138]:
nums=[3,2,4,7,8]
for num in nums : 
    if num%5 ==0 : 
        break

In [140]:
nums=[3,2,4,7,8]
for num in nums : 
    if num%5 ==0 : 
        break
else:
    print("multiple of 5 not found.")

multiple of 5 not found.

In [142]:
nums = [7,14]
for num in nums:
    if(num%5==0) : 
        print(num)
        break
    else:
        print("Number not found.")

Number not found.
Number not found.

In [148]:
nums = [7,14]
for num in nums:
    if(num%5==0) : 
        print(num)
        break
else:
        print("Number not found.")

Number not found.

In [5]:
nums = [10,12,14,21,20,27]

for num in nums:
    if num %5 == 0 : 
        print(num)
        break
    else:
        print(num,' not a multiple of 5')

10

In [7]:
nums = [10,12,14,21,20,27]

for num in nums:
    if num %5 == 0 : 
        print(num)
        #break
    else:
        print(num,' not a multiple of 5')

10
12  not a multiple of 5
14  not a multiple of 5
21  not a multiple of 5
20
27  not a multiple of 5

In [9]:
nums = [10,14,18,21,20,27]
for num in nums: 
    if num%5 == 0:
        print(num)
        break
else:
    print('Not found')

10

In [17]:
num = int(input('Enter the number :'))
for i in range(2,num):
    if num % i ==0 :
        print(num , ' Is not a primt number')
        break
else:
    print('Prime number')

Enter the number : 17

Prime number

In [25]:
from array import * 
arr = array('i',[])
n= int(input('Enter the length of the array'))

for i in range(n):
    x= int(input('Enter the next value:'))
    arr.append(x)
print(arr)

Enter the length of the array 7
Enter the next value: 1
Enter the next value: 2
Enter the next value: 3
Enter the next value: 4
Enter the next value: 5
Enter the next value: 6
Enter the next value: 7

array('i', [1, 2, 3, 4, 5, 6, 7])

In [35]:
from array import *
arr= array('i',[])
n = int(input('Enter the length of the array.'))
for i in range(n):
    x= int(input('Enter the next value'))
    arr.append(x)
print(arr)

Enter the length of the array. 7
Enter the next value 1
Enter the next value 2
Enter the next value 3
Enter the next value 4
Enter the next value 5
Enter the next value 6
Enter the next value 7

array('i', [1, 2, 3, 4, 5, 6, 7])

In [31]:
from numpy import * 
arr = array([1,2,3,4,5])
print(arr)
type(arr)

[1 2 3 4 5]

numpy.ndarray

In [33]:
print(arr.dtype)

int32